:root{
  --boxShadow : 10px 10px 15px -3px rgba(0,0,0,0.1);
  --col1: #1f1f1f;
  --col2: #379237;
  --col3: #DC0000;
  --col4: #FFFFE8;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}





