body {
    margin: 0;
    background-color: black;
    color: #ffffff;
    font-family: 'poppins',sans-serif;
}

/* #containersignup {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 2px;
    background-color: #1f1f1f;
    min-height: 460px;
    height: auto;
 
    width: 500px;
    margin-top: calc(50vh - 230px);
    
    padding: 20px;
    border-radius: 20px;
} */

#authcontainer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 2px;
    background-color: #1f1f1f;
    min-height: 350px;
    height: auto;
    /* max-width: 500px;
        min-width: 200px; */
    width: 500px;
    margin-top: calc(50vh - 230px);
    padding: 20px;
    border-radius: 20px;
    /* background-image: url('bg.jpg'); */
}

#authcontainer h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: white;
}

/* #containersignup h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: white;
} */

#authcontainer input {
    margin: 10px 0px 5px 0px;
    border: 0px;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: solid black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
}

#authcontainer input:focus {
    background-color: rgb(255, 255, 255);
}

#authcontainer button {
    color: #464242;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    height: 40px;
    width: 100px;
}

#authcontainer button:hover {
    border: 3px #000000 solid;
    box-shadow: 1px 1px 1px 1px #eaeaeae4;
    color: black;
    background: #F7F7F7;
}

#authcontainer hr {
    color: white;
    height: 2px;
    background-color: white;
}

#authcontainer a {
    text-decoration: none;
    color: black;


}